<div>
    <h2>Edit User</h2>

    <form ng-submit="vm.save()">
        <ext-input label="First name" name="firstName" ng-model="vm.data.firstName"></ext-input>
        <ext-input label="Last name" name="lastName" ng-model="vm.data.lastName"></ext-input>
        <ext-input label="Gender" name="gender" ng-model="vm.data.gender"></ext-input>
        <ext-input label="Email" name="email" ng-model="vm.data.email"></ext-input>
        <ext-input label="Born at" name="date" ng-model="vm.data.date"></ext-input>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
</div>