menu {
	#lbl {
		background-color: #ffccff;
		color: #555;
		text-align: center;
		
	}

	#navigation {
		background-color: #ffccff;
		color: #555;
	}

	#input-text {
		width: 80%;

		
	}

	#outer-container {
		width: 100%;	
	
	}

}