menu {
	#lbl {
		background-color: #ffccff;
		color: #555;
		text-align: center;
		
	}

	#navigation {
	background-color: #ffccff;
		color: #555;
		

	}

	#input-text {
	width: auto;
	}

	#outer-container {
	width: 100%;
	
	}

}