recom-state {
	
	.title {
		width:70%;
		float:left;
		margin:5px;

	}

	#text {
		color: #ffccff;
		font-family: 'Josefin Slab', serif;
		text-decoration: underline;
		font-size: 3em;
		position: relative;
		text-align: center;
		}

	.text-wrap{
		float: left;
		margin: 5px;
		}


	.information {
		width:70%;
		height: 50%;
		position: relative;
		float:right;
		margin:5px;
		text-align: center;
	}

	p {
		color: white;
		text-align: left;
		font-size: 15pt;
	}

	 h1 {
	 	color: #ffccff;
	 }

	 #Boire {
		height: 30%;
		width: 30%;
		border-radius: 10%;
	}

	.icon {
	  	
		position: relative;
		float: right;
		
		
		
	}
	
	#icon1 {
		float: right;
		height: 8%;
		width: 8%;
	
	}

	#icon2 {
		float: right;
		height: 8%;
		width: 8%;
	
	}

	#icon3 {
		float: right;
		height: 8%;
		width: 8%;
		border-radius: 100%;
		}
}